body {
    background-image: url(../img/background.jpg)
}

.navbar-dark {
    background-color: #1A2B2B;
}

.footer {
    background-color: #1A2B2B;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.principal {
    width: 100%;

    margin-top: 2%;
    height: 100%;
}

.principalSub {
    margin-top: 5%;
}

.footer {
    color: white;
}

#contentDiv {
    background-color: green;
}

.right-margin {
    background-color: blue;
}

.infoPrincipal{
    background-color:red;
    width: 95%;
    margin-left:5%;
}

.fotosIndex{
    width:80%;
    margin-left:10%;
}

.twitterDiv{
    height:600px;
    width:90%;
    margin-left:5%;
    margin-top:10%;
    background-color:green;
}

/* Pantalla Mediana */

@media only screen and (max-width: 1199px) {
    .navbar-dark {
        background-color: #1A2B2B;
    }
    
    .footer {
        background-color: #1A2B2B;
        margin: 0px auto;
        padding: 20px 0px 20px 0px;
    }

    .principal {
        width: 100%;
        margin: 0;
        height: 100%;
    }

    .footer {
        color: white;
    }

    #contentDiv {
        background-color: green;
        margin-top: 2%;
    }

    .right-margin {
        display: none;
    }

    .infoPrincipal{
        background-color:red;
        width: 100%;
        margin-left:2%;
    }
}